.content {
  min-height: 100%;
  background-size: cover;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

ul.spot-list {
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 30px;
  max-height: 600px;
  overflow: scroll;
}

ul.spot-list li {
  display: flex;
  flex-direction: column;
}

ul.spot-list li header {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
}


.spotCard {
  border-radius: 4px;
  background: #dadada;
  padding-bottom: 20px;
  max-width: 300px;
}

.registerSpotButton {
  padding: 5px;
  background: hsl(36, 80%, 52%);
  color: white;
  border: 0;
  border-radius: 4px;
  font-size: 24px;
  width: 50%
}